@font-face {
    font-family: "Gotham";
    src: url("../../styles/fonts/Gotham-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Poppins";
    src: url("../../styles/fonts/Poppins-Regular.ttf") format("truetype");
  }

.title{
    font-family:"Gotham";
    font-size:41px;
}
.paragraphs{
    font-family: 'Courier New', Courier, monospace;
    font-size:28px;
}
.terms{
    margin-top:200px;
    padding-left:100px;
    padding-right:100px;
    padding-bottom:50px;

}